* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
section {
  background: linear-gradient(135deg, #1f1c2c, #928dab);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tetris {
  border: 4px solid #333;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4),
    /* Зовнішня тінь */ inset 0 0 10px rgba(255, 255, 255, 0.2); /* Внутрішня світла тінь */
  display: grid;
  grid-template-columns: repeat(10, auto);
}

.tetris_block {
  height: min(4vh, 7vw);
  width: min(4vh, 7vw);
  background: rgba(0, 0, 0, 0.4);
  border: 2px solid #0d3c55;
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.4),
    /* Внутрішня тінь зверху */ inset 0 -2px 3px rgba(0, 0, 0, 0.3),
    /* Внутрішня тінь знизу */ inset 2px 0 3px rgba(0, 0, 0, 0.2),
    /* Внутрішня тінь справа */ inset -2px 0 3px rgba(0, 0, 0, 0.2); /* Внутрішня тінь зліва */
}
.tetris_block.O {
  background: linear-gradient(to bottom right, red, darkred);
}

.tetris_block.L {
  background: linear-gradient(to bottom right, rgb(16 255 16), darkgreen);
}

.tetris_block.J {
  background: linear-gradient(to bottom right, rgb(255 4 255), darkmagenta);
}

.tetris_block.T {
  background: linear-gradient(to bottom right, #0275f8, darkblue);
}

.tetris_block.I {
  background: linear-gradient(to bottom right, yellow, goldenrod);
}

.tetris_block.S {
  background: linear-gradient(to bottom right, aqua, teal);
}

.tetris_block.Z {
  background: linear-gradient(to bottom right, brown, darkbrown);
}

@media screen and (min-width: 1024px) {
  .tetris_block:hover {
    animation: borderColorChange 5s infinite;
  }
}

@keyframes borderColorChange {
  0% {
    border-image: linear-gradient(90deg, #333, #333) 1;
  }
  25% {
    border-image: linear-gradient(90deg, #f00, #ff0) 1;
  }
  50% {
    border-image: linear-gradient(90deg, #0f0, #0ff) 1;
  }
  75% {
    border-image: linear-gradient(90deg, #00f, #f0f) 1;
  }
  100% {
    border-image: linear-gradient(90deg, #333, #333) 1;
  }
}
