* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
body {
  position: relative;
  background: linear-gradient(135deg, #1f1c2c, #928dab);
}
section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 30px;

  gap: 15px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.tetris {
  border: 4px solid #333;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4),
    /* Зовнішня тінь */ inset 0 0 10px rgba(255, 255, 255, 0.2); /* Внутрішня світла тінь */
  display: grid;
  grid-template-columns: repeat(10, auto);
}

.tetris li {
  height: min(4vh, 7vw);
  width: min(4vh, 7vw);
  background: rgba(0, 0, 0, 0.4);
  border: 2px solid #0d3c55;
  box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.4),
    /* Внутрішня тінь зверху */ inset 0 -2px 2px rgba(0, 0, 0, 0.3),
    /* Внутрішня тінь знизу */ 2px 0 3px rgba(0, 0, 0, 0.2),
    /* Внутрішня тінь справа */-2px -2px 2px rgba(0, 0, 0, 0.2); /* Внутрішня тінь зліва */
}
.tetris .O {
  background: red;
}

.tetris .L {
  background: rgb(16 255 16);
}

.tetris .J {
  background: rgb(255 4 255);
}

.tetris .T {
  background: #0275f8;
}

.tetris .I {
  background: yellow;
}

.tetris .S {
  background: aqua;
}

.tetris .Z {
  background: rgb(255, 136, 0);
}
.tetris .B {
  background: #8a2be2;
}
button {
  --button_radius: 0.75em;
  --button_color: #e8e8e8;
  --button_outline_color: #000000;
  font-size: 17px;
  font-weight: bold;
  border: none;
  border-radius: var(--button_radius);
  background: var(--button_outline_color);
  padding: 0;
  margin: 0;
}

.button_arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--button_outline_color);
  border-radius: var(--button_radius);
  width: 100%;
  height: 100%;
  background: var(--button_color);
  color: var(--button_outline_color);
  transition: transform 0.1s ease;
}

button:hover .button_arrow {
  transform: translateY(-0.33em);
}

button:active .button_arrow {
  transform: translateY(0);
}

.game-over-container {
  display: flex;
  text-align: center;
  gap: 10px;
  color: white;
  position: absolute;
  top: 50%;
  right: 3%;
  transform: translate(-50%, -50%);
}

.score {
  width: 20px;
  font-size: 1.2em;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
.breakable {
  display: inline-block;
  margin-bottom: 5px;
}

.game-over {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  font-size: 1.2em;
  font-weight: bold;
  color: #ff4b5c;
  animation: blink 1s infinite;
  /* display: none; */
}
.btn_mobile {
  padding-left: 30px;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

@keyframes borderColorChange {
  0% {
    border-image: linear-gradient(90deg, #333, #333) 1;
  }
  25% {
    border-image: linear-gradient(90deg, #f00, #ff0) 1;
  }
  50% {
    border-image: linear-gradient(90deg, #0f0, #0ff) 1;
  }
  75% {
    border-image: linear-gradient(90deg, #00f, #f0f) 1;
  }
  100% {
    border-image: linear-gradient(90deg, #333, #333) 1;
  }
}

/* Медіа-запит для мобільних та планшетів */

@media screen and (min-width: 340px) {
  section {
    padding-left: 0;
    align-items: center;
  }
  .btn_mobile {
    padding-left: 0;
  }
}
@media screen and (min-width: 500px) {
  .game-over-container {
    right: 10%;
  }
}

@media screen and (min-width: 800px) {
  .game-over-container {
    display: block;
    right: 15%;
  }
  .breakable {
    display: inline;
  }
}
@media screen and (max-width: 1024px) {
  .btn_mobile {
    display: grid;
    grid-template-columns: repeat(3, minmax(30px, 50px));
    grid-template-areas:
      '. up .'
      'left down right';
    align-items: center;
    gap: 5px;
    justify-content: center;
    padding-bottom: 30px;
  }
  .arrow {
    width: 50px;
    height: 50px;
  }
  .arrow.up {
    grid-area: up;
  }

  .arrow.down {
    grid-area: down;
  }

  .arrow.left {
    grid-area: left;
  }

  .arrow.right {
    grid-area: right;
  }
}

/* Медіа-запит для великих екранів */
@media screen and (min-width: 1025px) {
  .btn_mobile {
    display: none;
  }
  section {
    height: 100vh;
  }
}

@media screen and (min-width: 1024px) {
  .tetris_block:hover {
    animation: borderColorChange 5s infinite;
  }
}
